@import 'variables';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~toastr/toastr';

// @import '~jasny-bootstrap/scss/jasny-bootstrap';


html {
    height: 100%;
}
body {
    height: 100%;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.logo {
    margin-bottom: 3rem;
}
